.navbar__background-color{
    background-color: rgb(247, 228, 176);
}

.form__button-color{
    background-color: rgb(228, 201, 127);
}

.form__buton-color:hover{
    background-color: rgb(228, 201, 127);
}

.navbar__dropdown-color{
    background-color: rgb(228, 201, 127);
}