


@import "_common";
@import "_footer";
@import "_navbar";
@import "_font";

*{
	font-family: 'Roboto Condensed', sans-serif; 
	margin: 1px;
	
}

.bg-red{
	background-color: rgb(238, 158, 158);
	}

.bg-grey{
	background-color: grey;
	}

.bg-yellow{
	background-color: rgb(238, 238, 119);
	}

.bg-green{
	background-color: rgb(157, 236, 157);
	}

.bg-blue{
	background-color: rgb(209, 241, 119);
	}

.grid{
	width: $width-porcentaje;
	display: grid;
}

// comienza estructura de grillas de productos y servicios
.column-row-start-end-pys{
	grid-template-columns: repeat(6, 1fr);
}

#botonera-pys{
	grid-column: 1/7;
}

#logo-pys{
	grid-column: 1/7;
}

#montajes{
	grid-column: 1/2;
}

#vacio-1{
	grid-column: 2/3;
}

#sist-emergencia{
	grid-column: 3/4;
}

#redes{
	grid-column: 4/5;
}

#vacio-2{
	grid-column: 5/6;
}

#sist-seguridad{
	grid-column: 6/7;
}

#vacio-3{
	grid-column: 1/2;
}

#sist-alarma{
	grid-column: 2/3;
}

#vacio-4{
	grid-column: 3/4;
}

#vacio-5{
	grid-column: 4/5;
}

#mantenimientos{
	grid-column: 5/6;
}

#vacio-6{
	grid-column: 6/7;
}

#footer-pys{
    grid-column: 1/7;
}
// termina estructura de grillas de productos y servicios
// comienza estructura de grillas index
.column-row-start-end-index{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-index{
	grid-column: 1/4;
}

#logo-index{
	grid-column: 1/4;
}

#carousel-index{
	grid-column: 1/4;
}

#main-index-1{
	grid-column: 1/2;
}

#main-index{
	grid-column: 2/3;
}

#main-index-2{
	grid-column: 3/4;
}

#footer-index{
	grid-column: 1/4;
}
// termina estructura de grillas index
//comienza estructura de grillas seccion experiencia
.column-row-start-end-experiencia{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-experiencia{
	grid-column: 1/4;
}

#logo-experiencia{
	grid-column: 1/4;
}

#main-experiencia{
	grid-column: 1/4;
}

#footer-experiencia{
	grid-column: 1/4;
}
//termina estructurade grillas sección experiencia
// comienza estructura de grillas sección clientes
.column-row-start-end-clientes{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-clientes{
	grid-column: 1/4;
}

#logo-clientes{
	grid-column: 1/4;
}

#carousel-clientes{
	grid-column: 1/4;
}

#logo-1{
	grid-column: 1/2;
}

#logo-2{
	grid-column: 2/3;
}

#logo-3{
	grid-column: 3/4;
}

#logo-4{
	grid-column: 1/2;
}

#logo-5{
	grid-column: 2/3;
}

#logo-6{
	grid-column: 3/4;
}

#footer-clientes{
    grid-column: 1/4;
}
//termina estructura de grillas sección clientes
//inicia estructura de grillas sección proyectos
.column-row-start-end-proyectos{
	grid-template-columns: repeat(5, 1fr);
}

#botonera-proyectos{
	grid-column: 1/6;
}

#logo-proyectos{
	grid-column: 1/6;
}

#proyecto-1{
	grid-column: 1/2;
}

#proyecto-2{
	grid-column: 2/3;
}

#proyecto-3{
	grid-column: 3/4;
}

#proyecto-4{
	grid-column: 4/5;
}

#proyecto-5{
	grid-column: 5/6;
}

#proyecto-6{
	grid-column: 1/2;
}

#proyecto-7{
	grid-column: 2/3;
}

#proyecto-8{
	grid-column: 3/4;
}

#proyecto-9{
	grid-column: 4/5;
}

#proyecto-10{
	grid-column: 5/6;
}

#footer-proyectos{
    grid-column: 1/6;
}
// termina estructura de grillas sección proyectos
//comienza estructura de grillas sección contacto
.column-row-start-end-contacto{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-contacto{
	grid-column: 1/4;
}

#logo-contacto{
	grid-column: 1/4;
}

#carousel-contacto{
	grid-column: 1/4;
}

#main-contacto{
	grid-column: 1/4;
}

#footer-contacto{
	grid-column: 1/4;
}
//termina estructura de grillas sección contacto
// comienza estructura de grillas error 404
.column-row-start-end-error-404{
	grid-template-columns: repeat(1, 1fr);
}

#row-error404{
	grid-column: 1/2;
}
// termina estructura de grillas error 404
// comienza estructura de grillas galeria.html
.column-row-start-end-galeria{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-galeria{
	grid-column: 1/2;
}

#carousel-galeria{
	grid-column: 1/2;
}

#footer-galeria{
	grid-column: 1/2;
}
// termina estructura de grillas galeria.html
// comienza estructura de grillas manuales.html
.column-row-start-end-manuales{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-manuales{
	grid-column: 1/2;
}

#main-manuales{
	grid-column: 1/2;
}

#footer-manuales{
	grid-column: 1/2;
}
// termina estructura de grillas manuales.html

.main__index{
	text-align: center;
}

.main__index-grey{
	background-color: rgb(199, 197, 197);
}

.main__index-border{
	border: 1px solid rgb(199, 197, 197);
	border-radius: 5px;
}

.main__pys{
	text-align: center;
}

.main__pys-grey{
	background-color: rgb(199, 197, 197);
}

.main__pys-border{
	border: 1px solid rgb(199, 197, 197);
	border-radius: 5px;
}

.main__experiencia{
	text-align: center;
}

.main__experiencia-grey{
	background-color: rgb(199, 197, 197);
}

.main__experiencia-border{
	border: 1px solid rgb(199, 197, 197);
	border-radius: 5px;
}

.error404{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}

.text-error404{
	text-align: center;
	text-decoration: none;
}

a:hover{
	color: rgb(131, 128, 128);
}

a:visited{
	color: black;
}

li{
	text-decoration: none;
	list-style-type: none;
}

.body__proyecto1-height{
	height: ($height-porcentaje - 80%);
}

.body__proyecto1-border{
	border: 1px solid black;
	border-radius: 5%;
}

.d-galeria{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

@each $imagen in imagen-1, imagen-2, imagen-3, imagen-4, imagen-5, imagen-6, imagen-7, imagen-8, imagen-9, imagen-10{
	.#{$imagen}-galeria{
		background-image: url(imagenes/#{$imagen}.png);
		width: 200px;
		height: 200px;
	}
}

@media only screen and (min-width: 320px){
// comienza estructura de grillas index
.column-row-start-end-index{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-index{
	grid-column: 1/4;
}

#logo-index{
	grid-column: 1/4;
}

#carousel-index{
	grid-column: 1/4;
}

#main-index{
	grid-column: 1/4;
}

#footer-index{
	grid-column: 1/4;
}
// termina estructura de grillas index
// comienza estructura de grillas de productos y servicios
.column-row-start-end-pys{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-pys{
	grid-column: 1/2;
}

#logo-pys{
	grid-column: 1/2;
}

#montajes{
	grid-column: 1/2;
}

#sist-emergencia{
	grid-column: 1/2;
}

#redes{
	grid-column: 1/2;
}

#sist-seguridad{
	grid-column: 1/2;
}

#sist-alarma{
	grid-column: 1/2;
}

#mantenimientos{
	grid-column: 1/2;
}

#footer-pys{
    grid-column: 1/2;
}
// termina estructura de grillas de productos y servicios
//comienza estructura de grillas seccion experiencia
.column-row-start-end-experiencia{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-experiencia{
	grid-column: 1/4;
}

#logo-experiencia{
	grid-column: 1/4;
}

#main-experiencia{
	grid-column: 1/4;
}

#footer-experiencia{
	grid-column: 1/4;
}
//termina estructurade grillas sección experiencia
// comienza estructura de grillas sección clientes
.column-row-start-end-clientes{
	grid-template-columns: repeat(2, 1fr);
}

#botonera-clientes{
	grid-column: 1/3;
}

#logo-clientes{
	grid-column: 1/3;
}

#carousel-clientes{
	grid-column: 1/3;
}

#logo-1{
	grid-column: 1/3;
}

#logo-2{
	grid-column: 1/3;
}

#logo-3{
	grid-column: 1/3;
}

#logo-4{
	grid-column: 1/3;
}

#logo-5{
	grid-column: 1/3;
}

#logo-6{
	grid-column: 1/3;
}

#footer-clientes{
    grid-column: 1/3;
}
//termina estructura de grillas sección clientes
//inicia estructura de grillas sección proyectos
.column-row-start-end-proyectos{
	grid-template-columns: repeat(2, 1fr);
}

#botonera-proyectos{
	grid-column: 1/3;
}

#logo-proyectos{
	grid-column: 1/3;
}

#proyecto-1{
	grid-column: 1/3;
}

#proyecto-2{
	grid-column: 1/3;
}

#proyecto-3{
	grid-column: 1/3;
}

#proyecto-4{
	grid-column: 1/3;
}

#proyecto-5{
	grid-column: 1/3;
}

#proyecto-6{
	grid-column: 1/3;
}

#proyecto-7{
	grid-column: 1/3;
}

#proyecto-8{
	grid-column: 1/3;
}

#proyecto-9{
	grid-column: 1/3;
}

#proyecto-10{
	grid-column: 1/3;
}

#footer-proyectos{
    grid-column: 1/3;
}
// termina estructura de grillas sección proyectos
//comienza estructura de grillas sección contacto
.column-row-start-end-contacto{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-contacto{
	grid-column: 1/4;
}

#logo-contacto{
	grid-column: 1/4;
}

#carousel-contacto{
	grid-column: 1/4;
}

#main-contacto{
	grid-column: 1/4;
}

#footer-contacto{
	grid-column: 1/4;
}
//termina estructura de grillas sección contacto
// comienza estructura de grillas error 404
.column-row-start-end-error-404{
	grid-template-columns: repeat(1, 1fr);
}
#row-error404{
	grid-column: 1/2;
}
// termina estructura de grillas error 404
// comienza estructura de grillas galeria.html
.column-row-start-end-galeria{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-galeria{
	grid-column: 1/2;
}

#carousel-galeria{
	grid-column: 1/2;
}

#footer-galeria{
	grid-column: 1/2;
}
// termina estructura de grillas galeria.html
// comienza estructura de grillas manuales.html
.column-row-start-end-manuales{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-manuales{
	grid-column: 1/2;
}

#main-manuales{
	grid-column: 1/2;
}

#footer-manuales{
	grid-column: 1/2;
}
// termina estructura de grillas manuales.html
}

@media only screen and (min-width: 480px){
// comienza estructura de grillas index
.column-row-start-end-index{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-index{
	grid-column: 1/4;
}

#logo-index{
	grid-column: 1/4;
}

#carousel-index{
	grid-column: 1/4;
}

#main-index{
	grid-column: 1/4;
}

#footer-index{
	grid-column: 1/4;
}
// termina estructura de grillas index
// comienza estructura de grillas de productos y servicios
.column-row-start-end-pys{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-pys{
	grid-column: 1/2;
}

#logo-pys{
	grid-column: 1/2;
}

#montajes{
	grid-column: 1/2;
}

#sist-emergencia{
	grid-column: 1/2;
}

#redes{
	grid-column: 1/2;
}

#sist-seguridad{
	grid-column: 1/2;
}

#sist-alarma{
	grid-column: 1/2;
}

#mantenimientos{
	grid-column: 1/2;
}

#footer-pys{
    grid-column: 1/2;
}
// termina estructura de grillas de productos y servicios
//comienza estructura de grillas seccion experiencia
.column-row-start-end-experiencia{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-experiencia{
	grid-column: 1/4;
}

#logo-experiencia{
	grid-column: 1/4;
}

#main-experiencia{
	grid-column: 1/4;
}

#footer-experiencia{
	grid-column: 1/4;
}
//termina estructurade grillas sección experiencia
// comienza estructura de grillas sección clientes
.column-row-start-end-clientes{
	grid-template-columns: repeat(2, 1fr);
}

#botonera-clientes{
	grid-column: 1/3;
}

#logo-clientes{
	grid-column: 1/3;
}

#carousel-clientes{
	grid-column: 1/3;
}

#logo-1{
	grid-column: 1/2;
}

#logo-2{
	grid-column: 2/3;
}

#logo-3{
	grid-column: 1/2;
}

#logo-4{
	grid-column: 2/3;
}

#logo-5{
	grid-column: 1/2;
}

#logo-6{
	grid-column: 2/3;
}

#footer-clientes{
    grid-column: 1/3;
}
//termina estructura de grillas sección clientes
//inicia estructura de grillas sección proyectos
.column-row-start-end-proyectos{
	grid-template-columns: repeat(2, 1fr);
}

#botonera-proyectos{
	grid-column: 1/3;
}

#logo-proyectos{
	grid-column: 1/3;
}

#proyecto-1{
	grid-column: 1/2;
}

#proyecto-2{
	grid-column: 2/3;
}

#proyecto-3{
	grid-column: 1/2;
}

#proyecto-4{
	grid-column: 2/3;
}

#proyecto-5{
	grid-column: 1/2;
}

#proyecto-6{
	grid-column: 2/3;
}

#proyecto-7{
	grid-column: 1/2;
}

#proyecto-8{
	grid-column: 2/3;
}

#proyecto-9{
	grid-column: 1/2;
}

#proyecto-10{
	grid-column: 2/3;
}

#footer-proyectos{
    grid-column: 1/3;
}
// termina estructura de grillas sección proyectos
//comienza estructura de grillas sección contacto
.column-row-start-end-contacto{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-contacto{
	grid-column: 1/4;
}

#logo-contacto{
	grid-column: 1/4;
}

#carousel-contacto{
	grid-column: 1/4;
}

#main-contacto{
	grid-column: 1/4;
}

#footer-contacto{
	grid-column: 1/4;
}
//termina estructura de grillas sección contacto
// comienza estructura de grillas error 404
.column-row-start-end-error-404{
	grid-template-columns: repeat(1, 1fr);
}
#row-error404{
	grid-column: 1/2;
}
// termina estructura de grillas error 404
// comienza estructura de grillas galeria.html
.column-row-start-end-galeria{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-galeria{
	grid-column: 1/2;
}

#carousel-galeria{
	grid-column: 1/2;
}

#footer-galeria{
	grid-column: 1/2;
}
// termina estructura de grillas galeria.html
// comienza estructura de grillas manuales.html
.column-row-start-end-manuales{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-manuales{
	grid-column: 1/2;
}

#main-manuales{
	grid-column: 1/2;
}

#footer-manuales{
	grid-column: 1/2;
}
// termina estructura de grillas manuales.html
}

@media only screen and (min-width: 600px){
// comienza estructura de grillas index
.column-row-start-end-index{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-index{
	grid-column: 1/4;
}

#logo-index{
	grid-column: 1/4;
}

#carousel-index{
	grid-column: 1/4;
}

#main-index{
	grid-column: 1/4;
}

#footer-index{
	grid-column: 1/4;
}
// termina estructura de grillas index
// comienza estructura de grillas de productos y servicios
.column-row-start-end-pys{
	grid-template-columns: repeat(6, 1fr);
}

#botonera-pys{
	grid-column: 1/7;
}

#logo-pys{
	grid-column: 1/7;
}

#montajes{
	grid-column: 1/7;
}

#sist-emergencia{
	grid-column: 1/4;
}

#redes{
	grid-column: 4/7;
}

#sist-seguridad{
	grid-column: 1/7;
}

#sist-alarma{
	grid-column: 1/7;
}

#mantenimientos{
	grid-column: 1/7;
}

#footer-pys{
    grid-column: 1/7;
}
// termina estructura de grillas de productos y servicios
//comienza estructura de grillas seccion experiencia
.column-row-start-end-experiencia{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-experiencia{
	grid-column: 1/4;
}

#logo-experiencia{
	grid-column: 1/4;
}

#main-experiencia{
	grid-column: 1/4;
}

#footer-experiencia{
	grid-column: 1/4;
}
//termina estructurade grillas sección experiencia
// comienza estructura de grillas sección clientes
.column-row-start-end-clientes{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-clientes{
	grid-column: 1/4;
}

#logo-clientes{
	grid-column: 1/4;
}

#carousel-clientes{
	grid-column: 1/4;
}

#logo-1{
	grid-column: 1/2;
}

#logo-2{
	grid-column: 2/3;
}

#logo-3{
	grid-column: 3/4;
}

#logo-4{
	grid-column: 1/2;
}

#logo-5{
	grid-column: 2/3;
}

#logo-6{
	grid-column: 3/4;
}

#footer-clientes{
    grid-column: 1/4;
}
//termina estructura de grillas sección clientes
//inicia estructura de grillas sección proyectos
.column-row-start-end-proyectos{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-proyectos{
	grid-column: 1/4;
}

#logo-proyectos{
	grid-column: 1/4;
}

#proyecto-1{
	grid-column: 1/2;
}

#proyecto-2{
	grid-column: 2/3;
}

#proyecto-3{
	grid-column: 3/4;
}

#proyecto-4{
	grid-column: 1/2;
}

#proyecto-5{
	grid-column: 2/3;
}

#proyecto-6{
	grid-column: 3/4;
}

#proyecto-7{
	grid-column: 1/2;
}

#proyecto-8{
	grid-column: 2/3;
}

#proyecto-9{
	grid-column: 3/4;
}

#proyecto-10{
	grid-column: 1/4;
}

#footer-proyectos{
    grid-column: 1/4;
}
// termina estructura de grillas sección proyectos
//comienza estructura de grillas sección contacto
.column-row-start-end-contacto{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-contacto{
	grid-column: 1/4;
}

#logo-contacto{
	grid-column: 1/4;
}

#carousel-contacto{
	grid-column: 1/4;
}

#main-contacto{
	grid-column: 1/4;
}

#footer-contacto{
	grid-column: 1/4;
}
//termina estructura de grillas sección contacto
// comienza estructura de grillas error 404
.column-row-start-end-error-404{
	grid-template-columns: repeat(1, 1fr);
}
#row-error404{
	grid-column: 1/2;
}
// termina estructura de grillas error 404
// comienza estructura de grillas galeria.html
.column-row-start-end-galeria{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-galeria{
	grid-column: 1/2;
}

#carousel-galeria{
	grid-column: 1/2;
}

#footer-galeria{
	grid-column: 1/2;
}
// termina estructura de grillas galeria.html
// comienza estructura de grillas manuales.html
.column-row-start-end-manuales{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-manuales{
	grid-column: 1/2;
}

#main-manuales{
	grid-column: 1/2;
}

#footer-manuales{
	grid-column: 1/2;
}
// termina estructura de grillas manuales.html
}

@media only screen and (min-width: 768px){
// comienza estructura de grillas index
.column-row-start-end-index{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-index{
	grid-column: 1/4;
}

#logo-index{
	grid-column: 1/4;
}

#carousel-index{
	grid-column: 1/4;
}

#main-index{
	grid-column: 1/4;
}

#footer-index{
	grid-column: 1/4;
}
// termina estructura de grillas index
// comienza estructura de grillas de productos y servicios
.column-row-start-end-pys{
	grid-template-columns: repeat(6, 1fr);
}

#botonera-pys{
	grid-column: 1/7;
}

#logo-pys{
	grid-column: 1/7;
}

#montajes{
	grid-column: 1/7;
}

#sist-emergencia{
	grid-column: 1/4;
}

#redes{
	grid-column: 4/7;
}

#sist-seguridad{
	grid-column: 1/7;
}

#sist-alarma{
	grid-column: 1/7;
}

#mantenimientos{
	grid-column: 1/7;
}

#footer-pys{
    grid-column: 1/7;
}
// termina estructura de grillas de productos y servicios
//comienza estructura de grillas seccion experiencia
.column-row-start-end-experiencia{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-experiencia{
	grid-column: 1/4;
}

#logo-experiencia{
	grid-column: 1/4;
}

#main-experiencia{
	grid-column: 1/4;
}

#footer-experiencia{
	grid-column: 1/4;
}
//termina estructurade grillas sección experiencia
// comienza estructura de grillas sección clientes
.column-row-start-end-clientes{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-clientes{
	grid-column: 1/4;
}

#logo-clientes{
	grid-column: 1/4;
}

#carousel-clientes{
	grid-column: 1/4;
}

#logo-1{
	grid-column: 1/2;
}

#logo-2{
	grid-column: 2/3;
}

#logo-3{
	grid-column: 3/4;
}

#logo-4{
	grid-column: 1/2;
}

#logo-5{
	grid-column: 2/3;
}

#logo-6{
	grid-column: 3/4;
}

#footer-clientes{
    grid-column: 1/4;
}
//termina estructura de grillas sección clientes
//inicia estructura de grillas sección proyectos
.column-row-start-end-proyectos{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-proyectos{
	grid-column: 1/4;
}

#logo-proyectos{
	grid-column: 1/4;
}

#proyecto-1{
	grid-column: 1/2;
}

#proyecto-2{
	grid-column: 2/3;
}

#proyecto-3{
	grid-column: 3/4;
}

#proyecto-4{
	grid-column: 1/2;
}

#proyecto-5{
	grid-column: 2/3;
}

#proyecto-6{
	grid-column: 3/4;
}

#proyecto-7{
	grid-column: 1/2;
}

#proyecto-8{
	grid-column: 2/3;
}

#proyecto-9{
	grid-column: 3/4;
}

#proyecto-10{
	grid-column: 1/4;
}

#footer-proyectos{
    grid-column: 1/4;
}
// termina estructura de grillas sección proyectos
//comienza estructura de grillas sección contacto
.column-row-start-end-contacto{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-contacto{
	grid-column: 1/4;
}

#logo-contacto{
	grid-column: 1/4;
}

#carousel-contacto{
	grid-column: 1/4;
}

#main-contacto{
	grid-column: 1/4;
}

#footer-contacto{
	grid-column: 1/4;
}
//termina estructura de grillas sección contacto
// comienza estructura de grillas error 404
.column-row-start-end-error-404{
	grid-template-columns: repeat(1, 1fr);
}
#row-error404{
	grid-column: 1/2;
}
// termina estructura de grillas error 404
// comienza estructura de grillas galeria.html
.column-row-start-end-galeria{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-galeria{
	grid-column: 1/2;
}

#carousel-galeria{
	grid-column: 1/2;
}

#footer-galeria{
	grid-column: 1/2;
}
// termina estructura de grillas galeria.html
// comienza estructura de grillas manuales.html
.column-row-start-end-manuales{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-manuales{
	grid-column: 1/2;
}

#main-manuales{
	grid-column: 1/2;
}

#footer-manuales{
	grid-column: 1/2;
}
// termina estructura de grillas manuales.html
}

@media only screen and (min-width: 992px){
// comienza estructura de grillas index
.column-row-start-end-index{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-index{
	grid-column: 1/4;
}

#logo-index{
	grid-column: 1/4;
}

#carousel-index{
	grid-column: 1/4;
}

#main-index-1{
	grid-column: 1/2;
}

#main-index{
	grid-column: 2/3;
}

#main-index-2{
	grid-column: 3/4;
}

#footer-index{
	grid-column: 1/4;
}
// termina estructura de grillas index
// comienza estructura de grillas de productos y servicios
.column-row-start-end-pys{
	grid-template-columns: repeat(6, 1fr);
}

#botonera-pys{
	grid-column: 1/7;
}

#logo-pys{
	grid-column: 1/7;
}

#montajes{
	grid-column: 1/2;
}

#vacio-1{
	grid-column: 2/3;
}

#sist-emergencia{
	grid-column: 3/4;
}

#redes{
	grid-column: 4/5;
}

#vacio-2{
	grid-column: 5/6;
}

#sist-seguridad{
	grid-column: 6/7;
}

#vacio-3{
	grid-column: 1/2;
}

#sist-alarma{
	grid-column: 2/3;
}

#vacio-4{
	grid-column: 3/4;
}

#vacio-5{
	grid-column: 4/5;
}

#mantenimientos{
	grid-column: 5/6;
}

#vacio-6{
	grid-column: 6/7;
}

#footer-pys{
    grid-column: 1/7;
}
// termina estructura de grillas de productos y servicios
//comienza estructura de grillas seccion experiencia
.column-row-start-end-experiencia{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-experiencia{
	grid-column: 1/4;
}

#logo-experiencia{
	grid-column: 1/4;
}

#main-experiencia{
	grid-column: 1/4;
}

#footer-experiencia{
	grid-column: 1/4;
}
//termina estructurade grillas sección experiencia
// comienza estructura de grillas sección clientes
.column-row-start-end-clientes{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-clientes{
	grid-column: 1/4;
}

#logo-clientes{
	grid-column: 1/4;
}

#carousel-clientes{
	grid-column: 1/4;
}

#logo-1{
	grid-column: 1/2;
}

#logo-2{
	grid-column: 2/3;
}

#logo-3{
	grid-column: 3/4;
}

#logo-4{
	grid-column: 1/2;
}

#logo-5{
	grid-column: 2/3;
}

#logo-6{
	grid-column: 3/4;
}

#footer-clientes{
    grid-column: 1/4;
}
//termina estructura de grillas sección clientes
//inicia estructura de grillas sección proyectos
.column-row-start-end-proyectos{
	grid-template-columns: repeat(5, 1fr);
}

#botonera-proyectos{
	grid-column: 1/6;
}

#logo-proyectos{
	grid-column: 1/6;
}

#proyecto-1{
	grid-column: 1/2;
}

#proyecto-2{
	grid-column: 2/3;
}

#proyecto-3{
	grid-column: 3/4;
}

#proyecto-4{
	grid-column: 4/5;
}

#proyecto-5{
	grid-column: 5/6;
}

#proyecto-6{
	grid-column: 1/2;
}

#proyecto-7{
	grid-column: 2/3;
}

#proyecto-8{
	grid-column: 3/4;
}

#proyecto-9{
	grid-column: 4/5;
}

#proyecto-10{
	grid-column: 5/6;
}

#footer-proyectos{
    grid-column: 1/6;
}
// termina estructura de grillas sección proyectos
//comienza estructura de grillas sección contacto
.column-row-start-end-contacto{
	grid-template-columns: repeat(3, 1fr);
}

#botonera-contacto{
	grid-column: 1/4;
}

#logo-contacto{
	grid-column: 1/4;
}

#carousel-contacto{
	grid-column: 1/4;
}

#main-contacto{
	grid-column: 1/4;
}

#footer-contacto{
	grid-column: 1/4;
}
//termina estructura de grillas sección contacto
// comienza estructura de grillas error 404
.column-row-start-end-error-404{
	grid-template-columns: repeat(1, 1fr);
}

#row-error404{
	grid-column: 1/2;
}
// termina estructura de grillas error 404
// comienza estructura de grillas galeria.html
.column-row-start-end-galeria{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-galeria{
	grid-column: 1/2;
}

#carousel-galeria{
	grid-column: 1/2;
}

#footer-galeria{
	grid-column: 1/2;
}
// termina estructura de grillas galeria.html
// comienza estructura de grillas manuales.html
.column-row-start-end-manuales{
	grid-template-columns: repeat(1, 1fr);
}

#botonera-manuales{
	grid-column: 1/2;
}

#main-manuales{
	grid-column: 1/2;
}

#footer-manuales{
	grid-column: 1/2;
}
// termina estructura de grillas manuales.html
}


